html{
    overflow: hidden;
    height:100%;
    width: 100%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    background: #FBFBFF;
}
body{
    margin: 0;
}
.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.app-body{
    display:flex;
    height: 80vh;
}
/*** Footer ***/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    background: #FBFBFF;

}
/** NAVBAR ***/

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #FBFBFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.navbar li {
    color: #FF934F;
}
.title h1 {
    color: #FF934F;
}
.menu {
  display: flex;
  align-items: center;
   margin-left: 20px;
   margin-right: 20px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor:pointer;
    text-transform: uppercase;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.menu li {
  padding: 20px;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor:pointer;
}


.menu li:hover {
    color:  #FF6100;
}

.title:hover h1 {
    color:  #FF6100;
}

/*** USER DETAILS ****/

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details-module {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: 60vw;
    align-items: flex-start;
    text-align: left;
    padding: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/********** Journeys ***********/

.journeys{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 4em;
}

.field {
  margin: 25px auto;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #00A7E1;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: 
    linear-gradient(to bottom,
      rgba(255, 255, 255, 0) 96%,
      #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
}

.field::-webkit-input-placeholder {
  transition: all 0.3s ease-in-out;
}

.field:focus {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.field:focus::-webkit-input-placeholder {
  color: #00A7E1;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}

.submit {
  display: block;
  margin: 25px auto;
  box-sizing: border-box;
  padding: 10px 30px;
  background-color: #00A7E1;
  border: 1px solid #00A7E1;
  color: #FFF;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit:hover {
  background-color: #FFF;
  color: #00A7E1;
}

/*****************************/

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

label{
    color: rgba(0, 0, 0, 0.5);
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #00b3b3;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #00e6e6
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #e20000;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #EF3B3A;
}